---
import { BookOpen, BriefcaseBusiness, GraduationCap } from "lucide-react";
import TechChip from "./TechChip.astro";

interface Tech {
  label: string;
  icon: string;
}

interface Props {
  kind?: string;
  role: string;
  company: string;
  companyInitials: string;
  period: string;
  description: string;
  logo?: string;
  techs?: Tech[];
}

const {
  kind = "work",
  role,
  company,
  companyInitials,
  period,
  description,
  logo,
  techs,
} = Astro.props;

const CornerIcon =
  kind === "work"
    ? BriefcaseBusiness
    : kind === "education"
      ? GraduationCap
      : BookOpen;
---

<div
  class="experience-card bg-surface shadow-neumorphic relative flex translate-y-4 flex-col gap-6 rounded-4xl p-8 opacity-0 transition-all duration-400 ease-out hover:-translate-y-1"
>
  <!-- CORNER ICON -->
  <div
    class="shadow-neumorphic-inset bg-surface text-text-secondary absolute top-6 right-6 flex h-14 w-14 items-center justify-center rounded-full sm:h-16 sm:w-16"
  >
    <CornerIcon className="h-5 w-5" />
  </div>

  <!-- HEADER -->
  <div class="flex flex-col gap-4 sm:flex-row sm:items-start">
    <!-- LOGO -->
    <div
      class="bg-elevated shadow-neumorphic flex h-14 w-14 items-center justify-center overflow-hidden rounded-xl sm:h-16 sm:w-16"
    >
      {
        logo ? (
          <img
            src={`/logos/${logo}`}
            loading="lazy"
            alt={company}
            class="size-full object-fill"
          />
        ) : (
          <span class="font-display text-text-secondary text-sm tracking-wide">
            {companyInitials}
          </span>
        )
      }
    </div>

    <!-- INFO -->
    <div class="flex flex-col">
      <h3
        class="font-display text-text-primary text-xl tracking-tight sm:text-2xl"
      >
        {role}
      </h3>

      <span class="text-text-secondary">
        <span class="text-text-secondary font-sans font-bold">
          {company}
        </span>
        •
        {period}
      </span>
    </div>
  </div>

  <!-- DESCRIPTION -->
  <p
    class="text-text-secondary w-full text-justify leading-relaxed whitespace-pre-line"
  >
    {description}
  </p>

  <!-- TECH -->
  {
    techs && (
      <div class="flex flex-wrap gap-2 sm:gap-3">
        {techs.map((tech) => (
          <TechChip label={tech.label} icon={tech.icon} />
        ))}
      </div>
    )
  }
</div>
